@media (min-width:320px) and (max-width:800px){
  header{
     display: none;

  }
  #informe{
    display: none;
  }
  
  .cavesa{
    display: block;
    height: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

  }
  .cavesa ul{
    height: 100px;
  }
  .informe p{
    font-size: 18px;
    background-color: #003349;
  }
  .contactanos{
    display: none;
  }
  .text, .descri {
    margin-top: 40px;
  }
  .uso{
    margin-top: 30px;
  }
}