@media (min-width:320px) and (max-width:800px){
  header{
    background-color: #333;
    width: 100%;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: -700px;

  }
  header .nabvar{
    display: block;
    text-align: justify;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .informe p{
    font-size: 18px;
    background-color: #003349;
  }
  .contactanos{
    display: none;
  }
  .text, .descri {
    margin-top: 40px;
  }
}