body {
  padding: 0;
  margin: 0;
    font-family: lato,sans-serif;
    font-size: 16px;
    color: #273b47;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
html{
  scroll-behavior: smooth;
}
header{
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100px;
  background-color: #003349;
  position: -webkit-sticky;
  position: sticky;
  top:0; 
}
.informe{
  width: 100%;
  height: 100px;
  background-color: #333;
}
.informe p{
  text-align: center;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}
ul{
  width:80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
   
}
li{
  float: left;
}
li a{
  margin-left: 10px;
  padding: 30px 30px;
  line-height: 80px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-decoration: none;
}
.descri{
  margin-top: 240px;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
} 
.descri span{
  display: block;
  line-height: 1.6rem;
} 
figure{
  width: 80%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}
figure img{
  width:400px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  vertical-align: bottom;
  max-width: 100%;
  
}
.aviso{
  width: 80%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  }
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top:auto;
  padding: 20px 0px;
  text-align: justify;
  line-height: 1.6rem;
}
