body {
  padding: 0;
  margin: 0;
 
}
html{
  scroll-behavior: smooth;
}
#clase{
   
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  height: 60px;
}
.informe{
  width: 100%;
  height: 100px;
  background-color: #116365;
}
.informe p{
  text-align: center;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}
header{
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100px;
  background-color: #003356;
  position: -webkit-sticky;
  position: sticky;
  top:0; 
}
 
ul{
  width:80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
   
}
li{
  float: left;
}
li a{
  margin-left: 10px;
  padding: 8px 16px;
  line-height: 80px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-decoration: none;
  border-radius: .4rem;
}
li a:hover{
  background-color:yellow;
  color: #003356;
  border-radius: .4rem;
}
.descri{
  margin-top: 40px;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
} 
.descri span{
  display: block;
  line-height: 1.6rem;
} 
.cavesa{
  background-color: #273b47;
  overflow: hidden;
  display: none;
}
figure{
  width: 80%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}
figure img{
  width:160px;
  height:160px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  vertical-align: bottom;
  max-width: 100%;
  
}
.aviso{
  width: 80%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  }
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top:auto;
  padding: 20px 0px;
  text-align: justify;
  line-height: 1.6rem;
}
