a{
  color: tomato;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
.uso {
  margin-top: 100px;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.uso p {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
  text-align: justify;
  line-height: 1.6rem;
  padding: 10px 10px;
}
.uso p strong {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #003349;
}
.uso .titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #000;
}

@media (min-width: 320px) and(max-width:800px) {
  .uso {
    margin-top: 30px;
  }
}
